*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.ttl{
    background: #fff;
    text-align: center;
    font-family: sans-serif;
    border-style: solid;
    padding: 10px;
    color: black;
}

.imgs{
    width: 80px;
    height: 0px;
    padding: 10px;
}

.container{
    background: #160053;
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    background: #fff;
    width: 100%;
    max-width: 800px;
    display: flex;
    padding: 2px;
    border-radius: 4px;
}

#select{
    background: #160053;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 300px;
    padding: 25px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

#select img{
    width: 18px;
    height: 18px;
}

#select ul{
    position: absolute;
    top: 120%;
    left: 0;
    list-style: none;
    background: #fff;
    color: #555;
    width: 100%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#select ul li{
    padding: 10px 20px;
    cursor: pointer;
}

.search-bar input{
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18;
}

#select ul.open{
    max-height: 300px;
}